<div class="container">
    <h1 class="text-center">Welcome Admin, {{user.firstname}} {{user.lastname}}</h1>
    <div>
        <a href="/properties/new">Add Listing</a>
    </div>
<div class="admin-container">
 
                <!-- First product box start here-->
                {{#each properties}}
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img src="{{this.image_url}}" class="img-responsive">
 
                       </div>
 
                  </div>
 
     <div class="col-md-7 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                               <a href="#">
 
                                {{this.title}}
 
                               </a>
 
                               <a href="#">
 
                               <span>{{this.type}}</span>
 
                               </a>                           
 
                        </h5>
 
                            <p class="price-container">
 
                             <span>${{this.price}} </span>
 
                           </p>
 
              <span class="tag1"></span>
 
   </div>
 
   <div class="description">
 
      <p> {{this.details}} </p>
 
   </div>
 
      <div class="product-info smart-form">
 
         <div class="row">
 
         <div class="d-flex justify-center">
 
            <form action="/properties/delete/{{this.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          
    <div>
        <a href="/properties/edit/{{this.id}}" class="btn btn-info">Edit</a>
    </div>
             
 
       </div>
 
      <div class="col-md-12">
 
         <div class="rating">Rating:
 
          <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
 
          <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
 
          <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
 
          <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
 
          <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
 
         </div>
 
       </div>
 
    </div>
 
   </div>
 
  </div>
 
  </div>
 </div>
 
 <!-- end product -->
 {{/each}}
 
</div>
</div>
 
</div>