<h1 class="text-center">New Listing</h1>
<div class="row">

  <div class="col-6 offset-3">
    <form
      action="/properties"
      class="needs-validation"
      method="POST"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          value="{{current_form_data.title}}"
          required
        />
        <div class="invalid-feedback">
          {{#if errors.title}} {{errors.title}} {{else}}
            Title is Required
          {{/if}}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            name="price"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            value="{{current_form_data.price}}"
            required
          />
        </div>
        <div class="invalid-feedback is-invalid">
          {{#if errors.price}} {{errors.price}} {{else}}
            Price is Required
          {{/if}}
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label" for="imageUrl">Image Url</label>
        <input
          type="text"
          class="form-control"
          id="imageUrl"
          name="imageUrl"
          value="{{current_form_data.imageUrl}}"
          required
        />
        <div class="invalid-feedback">
          {{#if errors.imageUrl}} {{errors.imageUrl}} {{else}}
            Image Url is Required
          {{/if}}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          value="{{current_form_data.location}}"
          required
        />
        <div class="invalid-feedback">
          {{#if errors.location}} {{errors.location}} {{else}}
            Location is Required
          {{/if}}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="starRating">Star Rating</label>
        <input
          type="text"
          class="form-control"
          id="starRating"
          name="starRating"
          value="{{current_form_data.starRating}}"
          required
        />
        <div class="invalid-feedback is-invalid">
          {{#if errors.starRating}} {{errors.starRating}} {{else}}
            Star Rating is Required
          {{/if}}
        </div>

      </div>

      <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input type="text" class="form-control" id="image" name="product[image]" required>
                    <div class="valid-feedback">
                        Yuh orn like boil corn!
                      </div>
                </div> -->

      {{! <div class="mb-3">
        <label for="formFileMultiple" name="image" class="form-label">Add Images</label>
        <input
          class="form-control"
          name="image"
          type="file"
          id="formFileMultiple"
          multiple
        />
      </div> }}
      <div class="mb-3">
        <label class="form-label" for="type">Property Type</label>
        <input
          type="text"
          class="form-control"
          id="type"
          name="type"
          placeholder="hotel, villa, resort etc..."
          value="{{current_form_data.type}}"
          required
        />

      </div>

      <div class="mb-3">
        <label class="form-label" for="details">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="details"
          name="details"
          required
        >{{current_form_data.details}}</textarea>

      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-success">Add Listing</button>
      </div>

    </form>
    <a href="/properties">All Products</a>

  </div>
</div>