<section class="container py-4">
  <div class="card mx-auto" style="width: 60vw;">
    <img
      class="card-img-top"
      src="{{property.image_url}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{property.title}}</h5>
      <p class="card-text">{{property.details}} </p>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item text-muted">${{property.price}}/day</li>
        <li class="list-group-item">{{property.location}}</li>
        <li class="list-group-item">{{property.type}}</li>
      </ul>
      <p class="starability-result" data-rating="{{property.star_rating}}">
        Rated:
        {{property.star_rating}}
        stars
      </p>
      <a href="/booking/{{property.id}}" class="btn btn-primary">Book Now</a>
    </div>
  </div>
</section>